<div id="selected_cards">
  <div id="selected_cards_title" class="div_title">Cartes sélectionnées : <span id="nb_selected_cards"><%= @game.selected_cards.size -%></span></div>
  <% Game::NB_ETAT.times do |e| -%>
    <div id="<%= "selected_card_#{e}" -%>">&nbsp;</div>
  <% end -%>
  <div class="spacer">&nbsp;</div>
  <div class="spacer">&nbsp;</div>
</div>
