<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-type"
      content="text/html; charset=UTF-8" />
      <title>Set - Jeu de réflexion</title>
      <%= stylesheet_link_tag 'style' %>
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'game' %>
  </head>
  <body bgcolor="#0C781A">
    <center>
      <div id="content">
        <%= yield %>
        <div class="spacer">&nbsp;</div>
      </div>
    </center>
  </body>
</html>